(
    headless: true,
    listen_addr: "0.0.0.0",
    udp_listen_port: 12025,
    conditioner: (
        incoming_latency_ms: 50,
        incoming_jitter_ms: 0,
        incoming_loss: 0.0,
    ),
    asset_path: "/app/assets"
)
